form {
  display: flex;
  justify-content: center;
  padding: 7px 0;
}

.magnifierIcon {
  height: 20px;
  padding-top: 5px;
}

label {
  display: flex;
  align-items: center;
  max-width: 70%;
  justify-content: flex-end;
}

input {
  font-size: 23px;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  max-width: 70%;
}

input:focus {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}

.submitBtn {
  font-size: 15px;
}

a:active {
}

.sideDrawer {
  margin-top: 27px 0 10px 0;
  width: 100%;
  z-index: 200;
  left: 0;
  transition: transform 0.2s ease-out;
}

.open {
  transform: translateX(0);
  border-radius: 0 10px 10px 0;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.4);
  visibility: visible;
}

.closed {
  transform: translateX(-100%);
  /* transform: translateX(0); */
  border-radius: 0 10px 10px 0;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.4);
  visibility: hidden;
}
