@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Lato:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background: linear-gradient(180deg, rgb(3, 51, 71) 0%, rgb(156, 203, 223) 100%);
}
